services:
  web:
    build:
      context: .
    container_name: django-app
    volumes:
      - /var/log/docker/django-app:/var/log/django-app
    working_dir: /usr/src/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env  # Use .env file for environment variables
  db:
    image: postgres
    container_name: postgres-db
    volumes:
      - psql-data:/var/lib/psql
      - /var/log/docker/psql-db:/var/log/psql-db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      DBNAME: ${DBNAME}
      DBUSER: ${DBUSER}
      DBPASSWORD: ${DBPASSWORD}
      DBHOST: ${DBHOST}
      DBPORT: ${DBPORT}
    ports:
      - "5432:5432"
volumes:
  psql-data:

